---
# Do not remove this front matter
---

body {
    padding-top: 62px;
    padding-bottom: 30px;
    font-size: 16px;
}

.section {
    padding: 30px 0 30px 0;
}

.section.green {
    color: white;
    background-color: rgb(0, 121, 66);
}

img.brand {
    width: 100%;
}

.navbar-brand {
    img {
        height: 100%;
    }
}

.sketchy {
    /* font-family: 'Londrina Solid', cursive; */
    font-size: 2.8em;
    line-height: 1em;
    font-weight: bold;

    .col-xs-6 {
        margin-bottom: 30px;
    }
}
