---
# Do not remove this front matter
---

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.full-width {

    .container-fluid {
        padding: 0;
    }

    .row-even {
        padding: 0;
    }

    .row-odd {
        padding: 0;
        background-color: #f8f5f0;
    }

}

img.brand {
    width: 100%;
    padding: 5% 10% 5% 10%;
}

.navbar-brand {
    img {
        height: 100%;
    }
}
