<div class="modal fade" id="climate-impact-modal" tabindex="-1" role="dialog" aria-labelledby="climate-impact-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <img class="brand" src="{{ "/images/power_plants.svg" | prepend:site.baseurl }}" alt="coin">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

              <hr>

              <div class="text-center">
                <h3 class="modal-title" id="climate-impact-modalLabel">Climate Impact Visualizer</h3>
              </div>

              <p>
                The drought of 2011 had a devistating impact on our ecology.  This app gives a visualization, infographic, animation, etc. of how our environment is changing.  We used publicly available data sources.
                Additional information about the app can be found <a href="http://houstonhackathon.com">here</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
