<div class="modal fade" id="flash-aid-modal" tabindex="-1" role="dialog" aria-labelledby="flash-aid-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <img class="brand" src="{{ "/images/heart.svg" | prepend:site.baseurl }}" alt="coin">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

              <hr>

              <div class="text-center">
                <h3 class="modal-title" id="flash-aid-modalLabel">Flash Aid</h3>
              </div>

              <p>
                Flash Aid enhances the emergency medical response time of a community by crowdsourcing citizen
first responders. Users may register for the app, enabling them to both offer their assistance or expertise to others in their community, and request assistance from other community members.
In the event of a real medical emergency, members of the community that are CPR certified or carry an EpiPen, for example, can often respond significantly quicker than can an ambulance, saving valuable minutes and potentially saving lives. A user experiencing an emergency or a bystander can request immediate medical assistance, and the system will instantly alert nearby citizen first responders and assist them in navigating to the emergency. The application will then automatically call the local emergency number (911) for professional medical assistance. The entire process takes less than 15 seconds to complete.
To find out more, click <a href="http://devpost.com/software/flash-aid">here</a>.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
