<div class="modal fade" id="garden-warrior-modal" tabindex="-1" role="dialog" aria-labelledby="garden-warrior-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <img class="brand" src="{{ "/images/shamrock.svg" | prepend:site.baseurl }}" alt="coin">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

              <hr>

              <div class="text-center">
                <h3 class="modal-title" id="garden-warrior-modalLabel">Garden Warrior</h3>
              </div>

              <p>
              Invasive species are considered one of the top threats to global species diversity after habitat loss. This proposed Citizen Weed Warriors smartphone app will empower local residents to assist land managers in controlling ecologically harmful invasive plants on public lands in the Anchorage area. The CWW app will use geospatial location data for select invasive plants on public lands from the Alaska Exotic Plant Information Clearinghouse (AKEPIC) database (part of UAA’s Alaska Natural Heritage Program, AKNHP).
              To find out more about this app, click <a href="http://www.alaskahackathon.org/projects">here</a>.  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
