<div class="modal fade" id="grant-finder-modal" tabindex="-1" role="dialog" aria-labelledby="grant-finder-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <img class="brand" src="{{ "/images/coin.svg" | prepend:site.baseurl }}" alt="coin">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">

              <hr>

              <div class="text-center">
                <h3 class="modal-title" id="grant-finder-modalLabel">Grant Finder</h3>
              </div>

              <p>
                TODO Description
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
