<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/images/hfh_white.svg" | prepend:site.baseurl }}" alt="HfH brand"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="home-nav"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
        <li id="about-nav" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/about/" | prepend: site.baseurl }}#the-hackathon">The Hackathon</a></li>
            <li><a href="{{ "/about/" | prepend: site.baseurl }}#st-computer-science">S&amp;T Computer Science</a></li>
            <li><a href="{{ "/about/" | prepend: site.baseurl }}#people">People</a></li>
          </ul>
        </li>
        <li id="dates-nav"><a href="{{ "/dates/" | prepend: site.baseurl }}">Dates</a></li>
        <li id="rules-nav"><a href="{{ "/rules/" | prepend: site.baseurl }}">Rules</a></li>
        <li id="faq-nav"><a href="{{ "/faq/" | prepend: site.baseurl }}">FAQ</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
